Django==3.2.4
Pillow==8.2.0
django-import-export==2.5.0
django-mdeditor==0.1.18
Markdown==3.3.6
django-modeladmin-reorder==0.3.1
django-redis==5.0.0
django-simple-captcha==0.5.14
django-simpleui==2022.1
PyMySQL==0.9.3
fast_captcha==0.1.1