{% extends 'blog/base.html' %}

{% block title %}
    <title>密码重置</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/mobi.min.css">
{% endblock %}

{% block content %}
    <div class="flex-center mysection">
        <div class="container">
            <div class="flex-center">
                <div class="unit-1-2 unit-1-on-mobile">
                    <h1>重置完成</h1><br>
                    <p>恭喜您，重置密码成功啦！点击<a style="color: blue" href="{% url 'blog:login' %}"> 这里 </a>返回登陆界面吧
                    </p>
                </div>
            </div>
        </div>
    </div>
    <style>
        .errorlist {
            color: red;
        }
    </style>
{% endblock %}
