{% extends 'blog/base.html' %}

{% block title %}
    <title>密码重置</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
{% endblock %}

{% block content %}
    <div class="flex-center mysection">
        <div class="container">
            <div class="flex-center">
                <div class="unit-1-2 unit-1-on-mobile">
                    <h3>设置新密码</h3><br>
                    <span>温馨提示: 如果您确认重置密码，请点击按钮进行重置操作</span>
                    <button type="submit" class="btn btn-primary btn-block">
                        <a href="{% url "blog:password_reset_email" %}">开始重置</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <style>
        .errorlist {
            color: red;
        }
    </style>
{% endblock %}