{% extends 'blog/base.html' %}

{% block title %}
    <title>登录</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/mobi.min.css">
{% endblock %}

{% block content %}
    <div class="flex-center mysection">
        <div class="container">
            <div class="flex-center">
                <div class="unit-1-2 unit-1-on-mobile">
                    <h3 style="text-align: center">登录</h3>
                    <form class="form" action="{% url 'blog:login' %}" method="post">
                        {# 错误信息提示 #}
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                                        {{ message.message }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% csrf_token %}
                        <!-- 账号 -->
                        <div class="form-group">
                            {{ login_form.username.label_tag }}
                            {{ login_form.username }}
                        </div>
                        <!-- 密码 -->
                        <div class="form-group">
                            {{ login_form.password.label_tag }}
                            {{ login_form.password }}
                        </div>
                        <!-- 验证码 -->
                        <div class="form-group">
                            {{ login_form.captcha.label_tag }}
                            {{ login_form.captcha }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">登录</button>
                        {% if request.GET.next %}
                            <input type="hidden" name="next" value="{{request.GET.next }}" />
                        {% endif %}
                    </form>
                    <div class="flex-left top-gap text-small">
                        <div class="unit-2-3">
                            <span>没有账号？<a href="{% url 'blog:register' %}" style="color: #267fd9">立即注册</a></span>
                        </div>
                        <div class="unit-1-3 flex-right">
                            <span><a href="{% url "blog:password_reset" %}" style="color: #267fd9">忘记密码？</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            // Add refresh button after field (this can be done in the template as well)
            $('img.captcha').after(
                $('<a class="captcha-refresh" style="color: #267fd9; text-decoration: underline; margin-left: 16px">看不清</a>')
            );

            $('.captcha-refresh').click(function () {
                $.getJSON("/captcha/refresh/", function (result) {
                    $('.captcha').attr('src', result['image_url']);
                    $('#id_captcha_0').val(result['key'])
                });
            });
        });
    </script>
    <style type="text/css">
        .errorlist {
            color: red;
        }

        .info {
            color: #267fd9;
        }

        .error {
            color: red;
        }

        .success {
            color: green;
        }

        .warning {
            color: yellow;
        }
    </style>
{% endblock %}
