<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>简易登录界面</title>
    <link rel="icon" href="../static/image/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <script src="../static/js/jquery-1.12.4.min.js"></script>

    <script type="text/javascript" src="../static/js/vue-2.5.16.js"></script>
</head>
<body>
<div class="pic_div" >
    <h3>
        某某系统登录界面
    </h3>
</div>

<div class="login_form" id="app" v-cloak>
    <form method="post" @submit="on_submit" >
    {{ csrf_input }}
        <ui>
            <li>
                <label>用户名：</label>
                <input type="text" v-model="username" @blur="check_username" name="username" placeholder="请输入用户名">
                <div v-show="error_username" class="user_error" v-cloak>请输入正确的用户名</div>
            </li>
            <li>
                <label>密&nbsp;&nbsp;&nbsp;码：</label>
                <input type="password" v-model="password" @blur="check_pwd" name="password" placeholder="请输入密码">
                <div v-show="error_pwd" class="pwd_error" v-cloak>密码最少8位，最长20位</div>
                {% if account_errmsg %}
                    <div class="pwd_error">{{ account_errmsg }}</div>
                {% endif %}
            </li>
            <li class="re_me">
                <input  type="checkbox" id="check_box">
                <label >记住用户名</label>
                <a class="a1" href="/register/">立即注册</a>
                <a class="a2" href="#">忘记密码</a>
            </li>
            <li class="login_bnt">
                <input type="submit" value="登录">
            </li>
        </ui>

</form>
</div>
<script type="text/javascript" src="../static/js/login.js"></script>
</body>
</html>