{% extends 'blog/base.html' %}

{% block title %}
    <title>密码重置</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
{% endblock %}

{% block content %}
    <div class="flex-center mysection">
        <div class="container">
            <div class="flex-center">
                <div class="unit-1-2 unit-1-on-mobile">
                    <h1>Check your inbox.</h1>
                    <p>We've emailed you instructions for setting your password. You should receive the email
                        shortly!<a href="{% url 'blog:login' %}">log in page</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <style>
        .errorlist {
            color: red;
        }
    </style>
{% endblock %}