{% extends "blog/base.html" %}

{% block title %}
    <title>AboutMe</title>
{% endblock %}

{% block content %}
    <div class="mysection">

        {% include 'blog/component/statistical_chart.html' %}

        <h1 class="aboutme">FOR xiaowu:</h1>
        <div class="aboutme">
            <p>About The Author</p>
            <center>
                <strong>程序猿最烦两件事:
                    <br>第一件事是别人要他给自己的代码写文档，
                    <br>第二件事是别人的程序没有留下文档。
                </strong>
            </center>
            <br>
            <p style="margin-left: 150px;"><img src="/static/images/about/about.jpg" alt="aboutme"/>
                <br>
                <br>
            </p>
            <p>p1软件测开程序员</p>
            <br>
            <p> 此blog框架已经过原作者同意，二次开发及优化进行ing，源码已随进度逐步上传
                <u>
                    {% for conf in conf_list %}
                        <a style="color: blue;" href="{{ conf.git }}">gitee</a>
                    {% endfor %}
                </u>
                ，欢迎大家关注， 一起优化，并和我一起在新知识的道路上继续前进......
            </p>
            <br>
            {% for conf in conf_list %}
                <p>联系方式（qq邮箱）：{{ conf.email }}</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}