{% extends "blog/base.html" %}

{% block title %}
    <title>AboutMe</title>
{% endblock %}

{% block content %}
    <section class="mysection">
        <h1 class="page_title">FOR xiaowu:</h1>
        <div class="page_content">
            <p>About The Author</p>
            <center>
                <strong>程序猿最烦两件事:
                    <br>第一件事是别人要他给自己的代码写文档，
                    <br>第二件事是别人的程序没有留下文档。
                </strong>
            </center>
            <br>
            <p style="margin-left: 150px;"><img src="/static/images/about/about.jpg" alt="aboutme"/>
                <br>
            </p>
            <p>p1软件测开程序员</p>
            <br>
            <p> 此blog框架已经过原作者同意，二次开发及优化进行ing，源码已随进度逐步上传<u>
                <a style="color: blue;" href="https://gitee.com/wu_cl">gitee</a></u>
                ，欢迎大家关注， 一起优化，并和我一起在新知识的道路上继续前进......
            </p>
            <br>
            <p>联系方式（qq邮箱）：2186656812@qq.com</p>
        </div>
    </section>

{% endblock %}