<!doctype html>
<html lang="zh-CN">
<head>
    {% block title %}
        <title>xiaowu的个人博客</title>
        <link rel="icon" href="/static/images/favicon.ico"/>
    {% endblock %}
    {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="keywords" content="djangoblog,python,django,blog,个人博客,dblog,xiaowu的个人博客"/>
        <meta name="description" content="xiaowu的博客,个人博客,个人二次开发网站,IT技术分享,记录IT生活,提供技术分享和作品分享的个人网站"/>
    {% endblock %}

    <meta name="author" content="xiaowu"/>
    <meta name="baidu-site-verification" content="code-TS1ginbNB8"/>
    <meta name="google-site-verification" content="ZY1vCDZpvD6JkblHavYVmqN4NMnZQ45L_2CprxdcTac"/>
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    {# 自动将 http 请求升级为 https, 如果你的服务器未使用https，请将此注释#}
    {# <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">#}

    <!--CSS-->
    {% block css %}{% endblock %}
    <link rel="preload stylesheet" as="style" type="text/css" href="/static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/default.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/animation.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/font-icon.css"/>
    <link rel="preload stylesheet" as="style" type="text/css" href="/static/css/skin_1.css" title="qingxin"/>
    <link rel="stylesheet" type="text/css" href="/static/css/skin_2.css" title="jianyue"/>
    <link rel="stylesheet" type="text/css" href="/static/css/skin_3.css" title="qingshuang"/>
    <link rel="stylesheet" type="text/css" href="/static/css/skin_4.css" title="anhei"/>

    <!--JS-->
    <script type="text/javascript" src="/static/js/jquery.2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/js/my.js"></script>
    <script type="text/javascript" src="/static/js/superbg.min.js"></script>
    <script type="text/javascript" src="/static/js/superbg-custom.js"></script>
    <script type="text/javascript" src="/static/js/tooltip.js"></script>
    <script type="text/javascript" src="/static/js/layer/layer.js"></script>
    <script>
        $("html").append("<div class='jiazai'><img src='/static/images/icon/loading.gif' alt=''/><span>Loading,please wait...</span></div>")
    </script>

    <!--[if lte IE 8]>
    <script async>window.location.href = 'http://cdn.dmeng.net/upgrade-your-browser.html?referrer=' + location.href;</script>
    <![endif]-->

    {# 百度统计 #}
    <script async>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?42164aea15bef2b7bb53d4139820cac5";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body class="nobg">

<!--导航开始-->
{% include "blog/header.html" %}
<!--导航结束-->

<!--主题框架开始-->
<div class="container">
    <!--左侧开始-->
    {% block content %}
    {% endblock %}
    <!--左侧结束-->

    <!--右侧开始-->
    {% include "blog/right.html" %}
    <!--END右侧-->
</div>
<!--主题框架结束-->

<!---底部开始-->
{% include "blog/footer.html" %}
<!---END底部-->

{% block js %}{% endblock %}

</body>
</html>
