{% extends "blog/base.html" %}

{% block title %}
    <title>分类：{{ category }} </title>
{% endblock %}

{% block content %}
    <section class="mysection">

        <!-- 分类雷达图 -->
        {% include 'blog/component/radar_chart.html' %}

        <h4 class="index-title">
            <a href="{% url 'blog:list' %}"><i class="el-th-list"></i> 列表&nbsp;&nbsp;> &nbsp;&nbsp;</a>
            <span class="orange-text">{{ category }}</span>
            <span style="float:right;margin-right:10px;">
                共有:<a class="orange-text"> {{ page_info.total_number }} </a>篇
            </span>
        </h4>
        {% if blog_list %}
            {% include "blog/component/blog_list.html" with blogs=blog_list %}
            {% include "blog/component/pagination.html" with pages=page_info %}
        {% else %}
            <h3 class="nothing">暂时没有文章...</h3>
        {% endif %}
    </section>

{% endblock %}
