<h3 class="form-btn blue-text"><a href="javascript:;"><i class="el-edit"></i>我要留言 / 展开表单</a></h3>
<div id="Coon" class="form-zd form-in">
    <form action="{% url 'blog:get_comment' blog.id %}" method="post" class="comment-form">
        {% csrf_token %}
        <div class="vwrap">
            <div class="vheader item3">
                <label>
                    <input class="vnick vinput" name="user_name" placeholder="昵称" type="text">
                    {{ form.user_name.errors }}
                </label>
                <label>
                    <input class="vmail vinput" name="email" placeholder="邮箱" type="text">
                    {{ form.user_name.errors }}
                </label>
                <label>
                    <input class="vlink vinput" name="url" placeholder="url" type="text">
                    {{ form.user_name.errors }}
                </label>
            </div>
            <div class="vedit">
                <label>
                    <input class="vediter vinput" name="comment" placeholder="在这里输入吧..." type="text">
                    {{ form.comment.errors }}
                </label>
                <div class="vctrl">
                    <span class="vemoji-btn">OωO表情</span>
                </div>
            </div>
            <button class="vsubmit vbtn" type="submit" title="Cmd|Ctrl+Enter">发表</button>
        </div>
    </form>
</div>